.p-works__wrap{
  display: flex;
  margin-right: -$space_l;
  flex-wrap: wrap;
  //position: relative;

  @include mq(){
    margin: initial;
  }

}
.p-works__container{
  width: calc( 33% - #{$space_l});
  margin-right: $space_l;
  margin-bottom: $space_l;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
  border-radius: 3px;
  box-sizing: border-box;
  transition: all .5s;

  &:hover{
  transform: translateY(-7px);

  }

  @include mq(){
    width: 100%;
    margin: 0 auto 30px auto;
    padding: 0 30px;
  }
}

.p-works__image{
  width: 100%;
  height: 250px;
  vertical-align: bottom;
  box-sizing: border-box;
}
.p-works__imgageTitle{
  text-align: center;
  margin: $space_m 0 $space_m 0;
}



/*=========================
// モーダルウィンドウ
/=========================*/
.p-works__modalContent{
  display: none;
  width: 100%;
  max-width: $site-width;
  height: 400px;
  position: relative;
  top: 50%;
  left: 50%;
  border-radius: 3px;
  background: $base-color1;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 20px 30px;

  @include mq(){
    height: 90%;
    width: 100%;
    max-width: 414px;
  }
}

.fa-times{
  cursor: pointer;
  font-size: $font-size_l; //20px
}

.p-works__modalTitle{
font-size: $font-size_l; //20px
margin-bottom: 15px;
}


.p-works__modalImage{
  width: 300px;
  height: 250px;


  @include mq(){
    width: 90%;
    height: 200px;
    margin: 0 auto 10px auto;
    display: block;
  }

}

.p-works__modalTop{
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(){
    width: 100%;
  }

}

.p-works__modalCover{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $base-color4;
  z-index: 999;
}
.p-works__modalMiddle{
  display: flex;
  align-items: top;

  @include mq(){
    display: block;
  }
}

.p-works__content{
  flex-wrap: wrap;
  margin-left: $space_3l;
  width: 400px;
  max-width: 400px;

}
.p-works__contentTop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;

  @include mq(){
    display: block;
    margin: 0 auto;
  }
}
.p-works__contentTitle{
  font-size: $font-size_l;
  font-weight: bold;
}
.p-works__languageWrap{

  @include mq(){
    margin-bottom: 10px;
  }
}

.p-works__workingHourWrap{
  @include mq(){
    margin-bottom: 10px;
  }
}

.p-works__conceptText{

  @include mq(){
    width: 80%;
  }
}

.p-works__btnContainer{
  width: 50%;
  margin: $space_xl auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;


  @include mq(){
    width: 100%;
    display: block;
  }
}
.p-works__btnOutput, .p-works__btnBlog{
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  padding: $space_m $space_3l;
  width: 300px;
  border-radius: 3px;

  @include mq(){
    width: 100%;
    margin: 0 auto;
  }
}
.p-works__btnLink{
  margin-left: $space_xl;

  @include mq(){
    margin-left: 0;
  }

}
.p-works__btnOutput{
background: $btn-color-modal1;
color: $base-color1;


@include mq(){
    @include mq(){
    margin: 0 auto 10px auto;
  }
}
}
.p-works__btnBlog{
  background: $btn-color-modal2;
  color: $base-color1;
}
